.idea/
.vscode/
.DS_Store/
*.swap
*.swo
*-
Thumbs.db
./chapter10/a.out
./chapter11/a.out
./chapter12/a.out
./chapter13/planets
./chapter13/practice10
./chapter13/practice12
./chapter13/practice14
./chapter13/practice15
./chapter13/practice2
./chapter13/practice5
./chapter13/practice6
./chapter13/practice8
./chapter13/practice9
./chapter13/remind
./chapter13/strcat1
./chapter13/strcopy
./chapter13/test
./chapter14/practice1
./chapter14/practice11
./chapter14/practice13
./chapter14/practice15
./chapter14/practice16
./chapter14/practice2
./chapter14/practice3
./chapter14/practice4
./chapter14/practice5
./chapter14/practice6
./chapter14/practice8
./chapter14/practice9
./chapter14/test
./chapter16/inventory
./chapter16/practice1
./chapter16/practice10
./chapter16/practice15
./chapter16/practice2
./chapter16/practice3
./chapter16/practice4
./chapter16/practice5
./chapter16/practice6
./chapter16/practice7
./chapter16/practice8
./chapter16/practice9
./chapter16/test
./chapter17/funcpoint
./chapter17/practice1
./chapter17/practice2
./chapter17/practice3
./chapter17/practice4
./chapter17/practice5
./chapter17/remind2
./chapter17/tabulate
./chapter17/test
./chapter22/canopen
./chapter22/fcopy
./chapter22/fileopenclose
./chapter22/vic
./chapter28/pthreads
./chapter5/broker
./chapter5/broker1
./chapter5/brokerrs
./chapter7/length
./chapter7/practice_1
./chapter7/program1
./chapter7/program14
./chapter7/program2
./chapter7/program3
./chapter7/program4
./chapter7/program5
./chapter7/program6
./chapter7/sizeof
./chapter7/sum2
./chapter8/array1
./chapter8/deal
./chapter8/double_array
./chapter8/interest
./chapter8/practice2
./chapter8/practice3
./chapter8/practice5
./chapter8/program1
./chapter8/program14
./chapter8/program15
./chapter8/program2
./chapter8/repdigit
./chapter8/reverse
./chapter8/reverse2
./chapter8/test
./chapter9/a.out
